import(OpasnetUtils)
importFrom("Ovariable")
#importFrom("utils", "URLencode", "combn", "find", "read.table")
#importFrom("base", merge, summary)
#importFrom("graphics", plot)
#exportClasses(ovariable, odecision)
#exportMethods(merge, summary, plot, unique)
#export(
#)